* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d7ded9;
  font-family: 'Lora', serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background-color: #121212;
  opacity: 0.9;
  position: fixed;
  z-index: 100;
  width: 100%;
}

#centar-header {
  width: 90%;
  padding: 10px 5%;
  /* padding: 10px 30px;*/
}

#centar-header h1 a {
  font-size: 40px;
  color: #d7ded9;
  text-decoration: none;
}

header nav {
  margin-top: 10px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  margin: 0px 10px;
}

header nav ul li a {
  color: #d7ded9;
  font-size: 20px;
  text-decoration: none;
}

.blok {
  background-image: url(../img/cover.jpg);
  background-position: center;
  background-size: cover;
  height: 550px;
  position: relative;
}

#naslov {
  position: absolute;
  top: 200px;
  left: 100px;
  color: #0e1ba1;
}

#naslov h2, #naslov p {
  font-size: 40px;
  text-shadow: 0 0 3px #d7ded9;
}

#naslov p {
  font-size: 30px;
}

h3 {
  text-align: center;
  color: #0e1ba1;
  font-size: 25px;
  margin-top: 40px;
}

hr {
  width: 5%;
  margin: 0px auto;
  border-bottom: 2px solid #0e1ba1;
  margin-bottom: 20px;
}

.centar-blok {
  width: 90%;
  margin: 0 auto;
}

.centar-blok :nth-child(2) {
  padding: 0px;
}

.blokovi {
  width: 30%;
  /*padding: 10px;*/
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  border-radius: 5%;
  padding: 10px;
}

.blokovi img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.blokovi h4 {
  font-size: 20px;
  margin-bottom: 20%;
}

.blokovi span {
  color: #0e1ba1;
  padding: 5px;
  border-radius: 5%;
  font-weight: bold;
}

.blokovi .m10, .blokovi h4 {
  margin-top: 10%;
}

.blokovi p {
  margin-bottom: 5%;
}

.centar-blok1, .veze {
  width: 90%;
  margin: 0px auto;
}

.cigle {
  width: 20%;
  text-align: center;
  /*padding: 10px;*/
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  border-radius: 5%;
  padding: 10px;
}

.cigle i, .cigle span {
  font-size: 70px;
  color: #0e1ba1;
}

.cigle p {
  margin-top: 10px;
}

.cigle span {
  font-size: 20px;
}

.p10 {
  padding: 10px;
}

.kocke {
  width: 45%;
  text-align: center;
  /*padding: 10px;*/
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  border-radius: 5%;
  position: relative;
}

.kocke i, .kocke h4 {
  font-size: 20px;
  color: #0e1ba1;
  margin: 10px 0px;
}

.kocke img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.kocke img:hover {
  margin-left: 10px;
}

.senka {
  color: #000;
  padding: 10px;
}

#kontakt {
  padding: 30px;
  margin: 0px auto;
}

#ktk {
  background-color: #121212;
  text-align: center;
  position: relative;
}

#ktk p {
  color: #d7ded9;
}

input, textarea {
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  border: 0px solid #121212;
  border-bottom: 1px solid #d7ded9;
  background-color: #121212;
  color: #d7ded9;
}

input[type=submit] {
  width: 20%;
}

#levi p i {
  color: #d7ded9;
  margin: 15px 0px;
}

footer {
  background-color: #121212;
  border-top: 1px solid #d7ded9;
}

footer nav {
  width: 80%;
  margin: 0px auto;
}

.veze {
  padding: 10px;
  width: 40%;
  text-align: center;
}

.veze ul {
  list-style-type: none;
}

.veze a i, .veze p {
  color: #d7ded9;
  margin: 0px 5px;
  text-decoration: none;
}

.veze p {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */